// - Variables
// - Browser defaults
// - Base styles
// - Font styles
// The foregoing remain constant throughout all styles specified for all screens.

// Global Varibables
$primary-1: hsl(0, 36%, 70%);
$primary-2: hsl(0, 93%, 68%);
$neutral-1: hsl(0, 6%, 24%);
$primary-4: hsl(91, 93%, 68%);

$gradient-1: (
    "degrees": 135deg,
    "color-1": hsl(0, 0%, 100%),
    "color-2": hsl(0, 100%, 98%)
);
$gradient-2: (
    "degrees": 135deg,
    "color-1": hsl(0, 80%, 86%),
    "color-2": hsl(0, 74%, 74%)
);

$font-stack: "Josefin Sans";
$body-font-size: 16px;
$font-weights: (
    "light": 300,
    "regular": 400,
    "semi-bold": 600
);

/* Reset browser defaults */
html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body,
h1, h2, h3, h4, h5, h6,
p, a, ul, li,
img {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Base + Font styles */
body {
    font-family: $font-stack;
}

div#container {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
    background-repeat: no-repeat;
}

div#container header {
    margin: 32px 0;
    padding: 0 32px;

    img {
        height: 24px;
    }
}

div#container section#hero-mobile {
    margin-bottom: 64px;

    img {
        width: 100%;
    }
}

div#container section#hero-desktop {
    display: none;
}

div#container main {
    padding: 0 32px;

    h1 {
        color: $neutral-1;
        font-weight: 700;
        font-size: 32px;

        letter-spacing: 16px;
        line-height: 40px;

        text-transform: uppercase;
        text-align: center;

        margin-bottom: 32px;
    }

    h1 span#leading {
        color: $primary-1;
        font-weight: 300;
    }
    
    p {
        color: $primary-1;
        font-size: 13.5px;

        text-align: center;

        line-height: 24px;

        margin-bottom: 32px;
        padding: 0 8px;
    }
}

div#container main div#form-container {
    position: relative;
    width: 100%;

    margin-bottom: 96px;
    padding: 0;
}

div#container main div#form-container div.form-control {

    input[type="email"] {
        background: transparent;

        font-family: $font-stack;

        width: 100%;
        height: 48px;

        border: 1px hsla(0, 80%, 86%, 0.5) solid;
        border-right: none;
        border-radius: 24px;

        margin-bottom: 8px;
        padding-left: 24px;

        &::placeholder {
            font-family: $font-stack;

            font-size: 12px;
            font-weight: 500;
            color: $primary-1;
        }

        &:focus {
            outline: none;
        }
    }
}

div#container main div#form-container div.form-control {
    &.success input[type="email"] {
        border: 2px solid $primary-4;
    }

    &.success i.fa-check-circle {
        visibility: visible;
        color: $primary-4;
    }

    &.error input[type="email"] {
        border: 2px solid $primary-2;
    }

    &.error i.fa-exclamation-circle {
        visibility: visible;
        color: $primary-2;
    }

    &.error small {
        visibility: visible;
    
        margin-top: 0.4rem;
        margin-bottom: 1.5rem;
    }

    i {
        visibility: hidden;
    
        font-size: 18px;
    
        position: absolute;
    
        top: 15px;
        right: 88px;
    }

    small {
        visibility: hidden;
    
        display: block;
        color: $primary-2;
        font-size: 12px;
        font-weight: 500;
    
        text-align: left;

        padding-left: 24px;
    }
}

div#container main div#form-container {
    button {
        position: absolute;
        top: 0px;
        right: 0;

        width: 72px;
        height: 50px;

        text-align: center;

        background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

        border-radius: 24px;
        border: none;
        outline: none;

        padding: 0;

        box-shadow:
        0  1px  1px  hsla(0, 80%, 86%, 0.1), 
        0  2px  2px  hsla(0, 80%, 86%, 0.1), 
        0  4px  4px  hsla(0, 80%, 86%, 0.1),
        0  8px  8px  hsla(0, 80%, 86%, 0.1),
        0  16px 16px hsla(0, 80%, 86%, 0.1),
        0  32px 32px hsla(0, 80%, 86%, 0.1);

        &:focus {
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }

        &:active{
            cursor: pointer;
        }
    }
}

// - Small mobile - 320px
// - Medium mobile - 375px
// - Large mobile - 425px
// - Tablet - 768px
// - Laptop - 1024px
// - Large laptop: 1440px
// - TVs + big monitors: 2560px
// The foregoing a default breakpoints to consider when building a fluid website.

/* Mobile styles -- Starting point */
// 12 col | 8 col | 4 col
body {
    display: flex;

    flex-flow: column nowrap;
    align-items: center;

    margin: 0 auto;
}

/* Footer styles */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
